div{
	border-radius: 5px;
}

body{
	background-color: #C0C0C0;
}

.box{
	background-color: #fefffd;
	position: fixed;
    top: 15%;
    left: 35%;
    margin-top: -50px;
    margin-left: -50px;
    width: 400px;
    height: 75px;
	padding: 30px; 
	box-shadow: 10px 10px 5px #888888;
	overflow: hidden;
}

.principal{
	float: left;
}

.second{
	float: left;
	margin-left: 10px;
}

.notFound{
	display: none;
	margin-top:50px;
	padding-left: 10px;
	border: solid 1px;
	border-color: red;
	background-color: #eecccc;
	position: relative;
	width: 375px;
	height: 45px;
}

.hide {
	display: none;
}

#principal-button{
	background-color: #eee;
	border-radius: 5px;
	height: 35px;
	width: 75px;
}

#write{
	margin-right: 5px;
	border-radius: 5px;
	height: 35px;
	width: 300px;
}

